<head>
    <h1><%= @post.title %></h1>  
    <title><%= @post.title %></title>
</head>  
 
 <body>
     
     
     
     <font size="3" color="red">Description:</font> 
     <p>
        <%= @post.description %>
    </p>
    
    <ul>
        <li><%= @post.lat %></li>
        <li><%= @post.long %></li>
    </ul>
 </body>
    
    
    
    